<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <remove name="Access-Control-Allow-Headers" />
        <remove name="Access-Control-Allow-Methods" />
        <remove name="Access-Control-Allow-Credentials" />
        <remove name="Access-Control-Max-Age" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Max-Age" value="3600" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\antenv\Scripts\python.exe"
                  arguments="%HOME%\site\wwwroot\startup.sh"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"
                  startupTimeLimit="120"
                  requestTimeout="00:05:00"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="%WEBSITE_HOSTNAME%" />
        <environmentVariable name="WEB_CONCURRENCY" value="2" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <environmentVariable name="PYTHON_ENABLE_LOGGING" value="1" />
        <environmentVariable name="GUNICORN_CMD_ARGS" value="--timeout=60 --workers=2 --worker-connections=100 --backlog=50 --max-requests=100 --max-requests-jitter=20" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration> 